* {
    margin: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}


body {
    display: flex;
    align-items: center;
    background-color: rgba(255, 143, 57, 0.148);
}

.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 10px;
    background-color: rgb(236, 158, 32);
    z-index: 2;
}

.nav-bar-contents {
    position: fixed;
    left: 300px;
    padding: 10px;
}

.logotext {
    position: relative;
    left: 20px;
    font-size: xx-large;
    font-weight: bolder;
}

button.profile {
    position: fixed;
    right: 20px;
    top: 10px;
    padding: 10px;
    border-width: 0cap;
    background: url(profile3.jpg);
    background-size: 50px 50px;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.profile-window {
    height: 400px;
    width: 300px;
    background-color: white;
    position: fixed;
    top: 80px;
    right: 10px;
    align-items: center;
    text-align: center;
    border-radius: 10%;
    padding-top: 10px;
    border-color: orange;

}

.profile-pic img {
    height: 80px;
    width: 80px;
    position: fixed;
    margin-top: 30px;
    align-self: center;
    right: 115px;
}

.l1 {
    margin-top: 190px;
}

.user-name {
    position: fixed;
    top: 250px;
    right: 110px;
}

.hidden {
    visibility: hidden;
}

.items {
    display: grid;
    position: relative;
    width: 180%;
    height: 200px;
    left: 10x;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
    top: 300px;
    border-radius: 5%;
}

.search-bar {
    position: relative;
    top: 100px;
    left: 100px;
}

.search-bar input {
    width: 600%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid rgb(218, 140, 14);
    border-radius: 8px;
}
