* {
    margin: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}


body {
    display: flex;
    align-items: center;
    background-color: rgba(227, 158, 30, 0.942);
}

.Navbar {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: 20px 20px;
    background-color: rgb(212, 127, 8);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Nav-contents {
    position: relative;
    display: flex;
    gap: 30px;
    right: 300px;
}

.Nav-contents a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.Nav-contents a:hover {
    color: black;
}


.logotext {
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 20px;
}

button.profile {
    position: fixed;
    right: 20px;
    top: 10px;
    padding: 10px;
    border-width: 0cap;
    background-color: white;
    background: url(profile3.jpg) center;
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.profile-window {
    height: 400px;
    width: 300px;
    background-color: white;
    position: absolute;
    top: 80px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid orange;
    z-index: 10;
    padding: 10px;
}

.profile-pic img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 20px;
}

.l1 {
    width: 80%;
    margin: 20px;
}

.user-name {
    margin: 20px;
}

.hidden {
    visibility: hidden;
}

.food-menu {
    position: relative;
    padding: 20px;
    padding-top: 60px;
    margin-top: 50px;
    justify-content: left;
}

.food-menu .North {
    display: flex;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    height: 300px;
    width: 1420px;
    padding: 30px;
    border: 1px solid rgb(218, 140, 14);
    margin-top: 50px;
    margin: 20px auto;
    margin-bottom: 100px;

}

.food-menu .North img {
    width: 450px;
    height: 300px;
    text-align: left;
    border-radius: 20px;
}

.food-menu .North h3 {
    text-align: center;
    margin-left: 100px;
    padding: 20px;
    margin-bottom: 50px;
    font-size: 4rem;
    color: rgb(212, 127, 8);
    ;
}

.items {
    position: relative;
    display: grid;
    grid-template-rows: repeat(1, 5fr);
}

.dish {
    display: flex;
    background-color: white;
    border-radius: 25px;
    width: 1380px;
    height: 200px;
    padding: 50px;
    border: 1px solid rgb(218, 140, 14);
    text-align: center;
    margin: 20 auto;
    margin-top: 10px;
}

.dish img {
    width: 200px;
    height: 200px;
}

.dish h2 {
    margin-left: 50px;
}

.dish p {
    margin-left: 50px;
}
